* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    background-position: center;
    background-size: cover;
}
.top {
    position: relative;
    height: 800px;
    background: rgba(225, 255, 143, 1);
    overflow: hidden;
    align-items: center; 

}

.star2 {
    position: absolute;
    top: 94px;
    left: calc(50% - 663px); 
    z-index: 100;
    width: 57px;
    height: 57px;
}

.star3 {
    position: absolute;
    top: 69px;
    left: calc(50% - 558px); 
    z-index: 100;
    width: 35px;
    height: 35px;
}

.star4 {
    position: absolute;
    bottom: 20%;
    right: 26%;
    z-index: 100;
    width: 5%;
    max-width: 83px;
    height: auto;
}

.star5 {
    position: absolute;
    bottom: 30%;
    right: 32%;
    z-index: 100;
    width: 2.5%;
    max-width: 37px;
    height: auto;
}

.group-star {
    position: absolute;
    top: -34%;
    left: 60%;
    z-index: 100;
    width: 60%;
    max-width: 1074px;
    height: auto;
}

.title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
}

.top__hi {
   padding-top: 196px;
}

.text {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 48px;
    
}

.top__btn {
    width: 247px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
}

.top__btn:hover {
    background-color: white;
    color: black;
}

/* Блок 2. Карточки */

.games {
    
    min-height: 1242px;
    background: rgba(32, 32, 39, 1);
    padding: 94px 120px;
}

.games__grid {
    display: grid;
    grid-template-columns: repeat(3, 378px);
    grid-auto-rows: min-content;
    gap: 32px;
    align-items: start; 
    justify-content: center
}

.games__link{
    display: block;
    text-decoration: none;
    height: 100%;

    display: block;
    text-decoration: none;
    color: inherit; 
    height: 100%; 
    border-radius: 30px;
    overflow: hidden; 
    transition: transform 0.3s ease; 
}

.games__link:hover {
    transform: scale(1.05);
    z-index: 10; 
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.game-card{
    position: relative;
    background: rgba(247, 247, 247, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%; 
    height: 100%; 
    position: relative;
}

.games__link:nth-child(1),
.games__link:nth-child(3) {
    height: 473px;
}

.games__link:nth-child(2) {
    height: 512px;
}

.games__link:nth-child(4),
.games__link:nth-child(6) {
    height: 551px;
    margin-top: -32px; 
}

.games__link:nth-child(5) {
    width: 406.23px; 
    height: 550.07px;
    justify-self: center; 
}

.cover {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.games-info {
    display: flex;
    flex-direction: column;
    gap: 16px; 
    align-items: flex-start;
    padding: 32px 32px 36px 32px;
    border-radius: 30px;
    flex: 1;
    height: auto;
    background-color: white;
}

.title1 {
    width: 112px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px 10px 16px;
    border-radius: 52.58px;
    background: rgb(247, 247, 247, 1);
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}  

.title2 {
    width: 314px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
}

@media (max-width: 1024px) {
    .top {
        height: 600px;
    }
    
    .title {
        font-size: 48px;
    }
    
    .text {
        font-size: 20px;
    }
    
    .top__hi {
        padding-top: 150px;
        margin-left: 60px;
    }
}
