*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
.top {
    width: 1440px;
    height: 800px;
    background: rgba(225, 255, 143, 1);
    }

.title {
    width: 769px;
    height: 156px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(32, 32, 39, 1);

font-family: Montserrat;
font-size: 64px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0px;
text-align: left;
padding-bottom: 24px;

}
.top__hi {
    padding-top: 196px;
    margin-left: 120px;
}
.text {
width: 720px;
height: 64px;
display: flex;
flex-direction: row;
align-items: center;
color: rgba(32, 32, 39, 1);

font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
padding-top: 24px;
padding-bottom: 96px;
}

.top__btn {
   
width: 247px;
height: 66px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 16px 28px 16px 28px;
box-sizing: border-box;
border: 1px solid rgba(32, 32, 39, 1);
border-radius: 60px;
background: rgba(32, 32, 39, 1);
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
text-align: center;

}

.top__btn:hover {
 background-color: white;
 color:black ;
}
